.join-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
.join-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.form-group {
  margin-bottom: 15px;
}
  
.form-group label {
  display: block;
  margin-bottom: 5px;
}
  
.form-group input[type='text'],
.form-group input[type='number'],
.form-group input[type='password'],
.form-group input[type='email'] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
.form-group input[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
}
  
.form-group label input[type='checkbox'] {
  margin-right: 5px;
}
  